/* -*-CSS-*- */

.lesson_objectives_list li, .lesson_objectives_list ul li {
    list-style-type: none;
    padding-left: 0px;
    /*margin-left: 1em;*/
    margin-left: 0px;
 }

.lesson_objectives_list ul {
    margin-bottom: 0px;
    margin-right: 0px;
}

.lesson_objectives_list {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.lesson_objectives_groupsmenu div {
    display: inline-block;
}

.lesson_objectives_list a:link, .lesson_objectives_list a:visited {
    color: black;
}

.lesson_objectives_fullscreen_area {
    font-size: 3em;
}

.lesson_objectives_fullscreen_area img {
    width: 1em;
    height: 1em;
}

.lesson_objectives_table td {
    vertical-align: text-top;
    padding: 10px;
}

.lesson_objectives_table .oddrow {
    background-color: #d0d0d0;
}